.author {
  display: flex;
}
.author-img {
  height: 100px;
  width: 100px;
}
.author-name {
  font-weight: bold;
}
.author-bio {
  font-size: .91em;
  text-align: justify;
}
.author-detail {
  margin-left: 10px;
}