.footer {
  background: $black;
  color: darken($white, 20%);
  padding: 15px 20px;
  font-size: .89em;
}
.footer-mt {
  margin-top: 25px;
}
.footer-list {
  padding: 0;
  margin: 0;
}
.footer-list-item {
  display: inline-block;
  margin: 0 5px;
  list-style-type: none;
}
.footer-link {
  color: inherit;
  transition: color linear .5s;
  &:hover {
    color: darken($white, 35%);
    transition: color linear .5s;
    text-decoration: none;
  }
}